In [2]:
from riak import RiakClient
c=RiakClient()
c.ping()

True

In [9]:
from datetime import datetime

start=1464725715757
end=1464898516000

q="""
    select * from stratalaptimes where ts > {t1} and ts < {t2} and event = 'StrataLondon'
"""
query=q.format(t1=start, t2=end)
print query
ds=c.ts_query('stratalaptimes', query)

    select * from stratalaptimes where ts > 1464725715757 and ts < 1464898516000 and event = 'StrataLondon'

In [10]:
%matplotlib inline
import matplotlib as plt
import pandas as pd

cols=['event','ts','email','laptime']
df=pd.DataFrame(ds.rows, columns=cols)
print df.head()
print'\n\n'
df.describe()

          event                      ts  email   laptime
0  StrataLondon 2016-05-31 20:15:16.757  dummy  1.962312
1  StrataLondon 2016-05-31 20:29:14.189  dummy  1.613724
2  StrataLondon 2016-05-31 20:29:15.189  dummy  1.601567
3  StrataLondon 2016-05-31 20:29:16.189  dummy  1.546261
4  StrataLondon 2016-05-31 20:29:17.189  dummy  1.506116

           laptime
count  1331.000000
mean      2.329541
std      17.286113
min       0.235418
25%       1.206444
50%       1.417218
75%       1.748396
max     622.561118

In [ ]:
q2="""
    select * from stratalaptimes where ts > {t1} and ts < {t2} and event = 'StrataLondon' and laptime<1.1
"""
query2=q2.format(t1=start, t2=end)
print query2
ds2=c.ts_query('stratalaptimes', query2)
for r in range(len(ds2.rows)):
    print ds2.rows[r]

In [ ]:
df2=pd.DataFrame(ds2.rows,columns=cols)
res=df2.sort_values(by=['laptime'], ascending=True)

In [ ]:
res.head(12)

### 0.25 is a cheat as he touched the switch manually not using the car.  IGNORE for competition purposes.  Also same for the basho.com results.